.footer {
    padding: 50px 0;
}
.footer__body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30;
}
.left__up-block {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.up__block-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30;
    margin-bottom: 30px;
}
.up__block-wrap > ul > li, .footer__body-right > ul > li {
    margin-bottom: 15px;
}
.footer__arrows::before {
    content: '\f105';
    color: #595959;
    font-family: FontAwesome;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 10px;
}
.footer__arrows {
    display: flex;
}
.footer__body-right > ul > li > button {
    color: var(--color-gray);
    background-color: var(--color-bg-2);
    height: 40px;
    padding: 0 24px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}
.footer__body-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


@media (max-width:800px) {
    .footer__body {
        grid-template-columns: 1fr ;
    }
    .footer__body-right {
        margin-top: 20px;
        align-items: flex-start;
    }
    .left__up-block {
        grid-template-rows: 1fr;
    }
    .up__block-wrap {
        grid-template-columns: 1fr;
    }
}